{% extends "layout.njk" %}
    
{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/styles/main.css">

        <title>FOODFY</title>
    </head>
{% endblock head %}

<div class="content">
    {% block header %}
    <header>
            <a class="logo" href="/"><img src="/assets/logo.png" alt="FOODFY"></a>
            <a href="/about">Sobre</a>
            <a href="/recipes">Receitas</a>
        </header>
        {% endblock header %}
    {% block content %}
        
        <main class="background">
            <img class="chef" src="/assets/chef.png" alt="Chef">

            <h1>As melhores receitas</h1>

            <p>
                Aprenda a construir os melhores pratos <br>
                com receitas criadas por profissionais <br>
                do mundo inteiro.
            </p>

        </main>

        <div class="most_accessed">
            <h1>Mais acessadas</h1>
        </div>

        <section class="cards">
            <div class="card" id="burger">
                <img src="/assets/burger.png" alt="Burger">
                <h4 class="title">Triplo bacon burguer</h4>
                <p class="author">por Jorge Relato</p>
            </div>

            <div class="card" id="pizza">
                <img src="/assets/pizza.png" alt="Pizza">
                <h4 class="title">Pizza 4 estações</h4>
                <p class="author">por Fabiana Melo</p>
            </div>

            <div class="card" id="espaguete">
                <img src="/assets/espaguete.png" alt="espaguete">
                <h4 class="title">Espaguete ao alho</h4>
                <p class="author">por Júlia Kinoto</p>
            </div>

            <div class="card" id="lasanha">
                <img src="/assets/lasanha.png" alt="lasanha">
                <h4 class="title">Lasanha mac n' cheese</h4>
                <p class="author">por Juliano Vieira</p>
            </div>

            <div class="card" id="doce">
                <img src="/assets/doce.png" alt="doce">
                <h4 class="title">Docinhos pão-do-céu</h4>
                <p class="author">por Ricardo Golvea</p>
            </div>

            <div class="card" id="asinhas">
                <img src="/assets/asinhas.png" alt="asinhas">
                <h4 class="title">Asinhas de frango ao barbecue</h4>
                <p class="author">por Vania Steroski</p>
            </div>
        </section>

{% endblock content %}

{% block modal %}
<div class="modal-overlay">
    <div class="modal">
        <a class="close-modal">Fechar modal</a>

        <img src="" alt="">
        <p class="modal-title"></p>
        <p class="modal-author"></p>
    </div>    
</div>
{% endblock modal %}


</div>
    


{% block scripts %}
    <script src="/scripts.js"></script>
{% endblock scripts %}

        
<footer>
    {% block footer %}
        <p>Todos os direitos reservados, receitas FOODFY.</p>
    {% endblock footer %}
</footer>