{% extends "admin/layoutAdm.njk" %}


{% block header %}
    <header class="adminHeader">
        <a class="logo" href="/admin/recipes/index"><img src="/assets/logo-white.png" alt="FOODFY"></a>
        <a href="/admin/recipes/index">Receitas</a>
        <a href="/admin/chefIndex">Chefs</a>
    </header>  
{% endblock header %}

{% block content %}

<div class="top">
    <h1>Gerenciar Chefs</h1>
    <a class="buttonCreateChef" href="/admin/chefs/create">Criar Chef</a>
</div>

<section class="cards-admin-chef">
    {% for chef in chefs %}
        <div class="card-admin-chef" id="{{loop.index0}}">
            <img src="{{chef.avatar_url}}" alt="Imagem de {{chef.name}}">
            <h4 class="title-admin">{{chef.name}}</h4>
            <p>{{ chef.total_recipes }} Receitas</p>
            <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
        </div>
    {% endfor %}
</section>

{% endblock content %} 

{% block scripts %}
    <script src="/scripts.js"></script>
{% endblock scripts %}

{% block footer %}
    <footer>
        <p>Todos os direitos reservados, receitas FOODFY.</p>
    </footer>
{% endblock %}