{% extends "admin/layoutAdm.njk" %}


{% block header %}
    <header class="adminHeader">
        <a class="logo" href="/"><img src="/assets/logo-white.png" alt="FOODFY"></a>
    </header>  
{% endblock header %}

{% block content %}

<section class="recipe_intro">
    <div class="recipe_text">
        <h1>Criando receita</h1>
    </div>

    <div class="recipe_button">
        <button class="button_save" type="submit" form="form_save">Salvar Receita</button>
    </div>
</section>

<section class="details_admin">
    <form action="/admin/recipes" method="POST" id="form_save">
        {% include 'admin/fields.njk' %}
    </form>
</section>

{% endblock content %} 

{% block scripts %}
    <script src="/scripts.js"></script>
{% endblock scripts %}

{% block footer %}
    <footer>
        <p>Todos os direitos reservados, receitas FOODFY.</p>
    </footer>
{% endblock %}