{% extends "admin/layoutAdmin.njk" %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <link rel="stylesheet" href="/styles/mainAdm.css">
        <link rel="stylesheet" href="/styles/create.css">


        <title>FOODFY</title>
    </head>
{% endblock head %}

{% block header %}
    <header>
        <a class="logo" href="/"><img src="/assets/logo-white.png" alt="FOODFY"></a>
    </header>
{% endblock header %}

{% block content %}

<form action="/admin/recipes">

<section class="details">
    <div class="head">
        <h3>Criando receita</h3>
        <span><button>Salvar receita</button></span>
        <span class="deleteRecipe"><button>Deletar receita</button></span>
    </div>


    {% include 'admin/fields.njk' %}

</section>

</form>

{% endblock content %}