<!--{% block content %}

<form action="/admin/recipes" method="POST">

    <section class="recipe_intro">
        <div class="recipe_text">
            <h1>Criando receita</h1>
        </div>

    </section>

    <section class="details_admin">  
        <button type="submit">Salvar</button>  
        {% include 'admin/fields.njk' %}
    </section>

</form>

{% endblock content %} 

{% block scripts %}
    <script src="/scripts.js"></script>
{% endblock scripts %}

{% block footer %}
    <footer>
        <p>Todos os direitos reservados, receitas FOODFY.</p>
    </footer>
{% endblock %}-->

<!--
{% extends "admin/layoutAdm.njk" %}


{% block header %}
    <header class="adminHeader">
        <a class="logo" href="/admin/recipes/index"><img src="/assets/logo-white.png" alt="FOODFY"></a>
    </header>  
{% endblock header %}

{% block content %}

<form action="/admin/recipes?_method" method="POST">

    <section class="recipe_intro">
        <div class="recipe_text">
            <h1>Criando receita</h1>
            <button type="submit">Editar</button>
        </div>

    </section>

    <section class="details_admin">

        {% include 'admin/fields.njk' %}
        <input type="hidden" name="id" value={{recipe.id}}>
    </section>

</form>

{% endblock content %} 

{% block scripts %}
    <script src="/scripts.js"></script>
{% endblock scripts %}

{% block footer %}
    <footer>
        <p>Todos os direitos reservados, receitas FOODFY.</p>
    </footer>
{% endblock %}


-->