{% extends "admin/layoutAdm.njk" %}


{% block header %}
    <header class="adminHeader">
        <a class="logo" href="/admin/recipes/index"><img src="/assets/logo-white.png" alt="FOODFY"></a>
    </header>  
{% endblock header %}

{% block content %}

<form action="/admin/recipes?_method" method="POST">

    <div class="recipe_text">
        <h1>Criando receita</h1>
        <button type="submit">Editar Receita</button>
    </div>

    <div class="item">
        <div>Imagem da Receita</div>
        <div>
            <input type="url" name="image_url" value="{{ recipe.image_url }}">
        </div>
    </div>

    <div class="item">
        <div>Nome do Chef</div>
        <div>
            <input type="text" name="author" value="{{ recipe.author }}">
        </div>
    </div>

    <div class="item">
        <div>Nome da Receita</div>
        <div>
            <input type="text" name="title" value="{{ recipe.title }}">
        </div>
    </div>

    <div class="item">
        <div>Ingredientes</div>
        <div id="newIngredient">
            {% for ingredient in recipe.ingredients %}
            <div class="ingredient">
                <input type="text" name="ingredients[]" value="{{ ingredient }}">
            </div>
            {% endfor %}
        </div>
        <div>
            <button type="button" class="addIngredients">Adicionar novo ingrediente</button>
        </div>
    </div>

    <div class="item">
        <div>Preparação</div>
        <div id="newPreparation">
            {% for preparation in recipe.preparation %}
            <div class="preparation">
                <input type="text" name="preparation[]" value="{{ preparation }}">
            </div>
            {% endfor %}
        </div>
        <div>
            <button type="button" class="addPreparations">Adicionar novo paço</button>
        </div>
    </div>

    <div class="item">
        <div>Informaçōes Adicionais</div>
        <div>
            <textarea name="information"cols="30" rows="10">{{ recipe.information }}</textarea>
        </div>
    </div>

</form>

{% endblock content %} 

{% block scripts %}
    <script src="/scripts.js"></script>
{% endblock scripts %}

{% block footer %}
    <footer>
        <p>Todos os direitos reservados, receitas FOODFY.</p>
    </footer>
{% endblock %}