<div class="item">

    <div class="nameRecipe">
        <h4>Nome</h4>
        <input 
            type="text"
            name="nameRecipe"
        >
    </div>

    <div class="nameChef">
        <h4>Nome do Chef</h4>
        <input 
            type="text"
            name="nameChef"
        >
    </div>

    <div class="image">
        <h4>Imagem da receita</h4>
        <input 
            type="url"
            name="image_url"
            placeholder="http://"
        >
    </div>

    <div class="ingredients">
        <h4>Ingredientes</h4>
        <input 
            type="text"
            name="ingredients"
        >
    </div>

    <div class="preparation">
        <h4>Modo de preparo</h4>
        <input 
            type="text"
            name="preparation"
        >
    </div>

    <div class="information">
        <h4>Informações adicionais</h4>
        <textarea style="resize: none" type="text" name="information" cols="30" rows="10"></textarea>       
    </div>

</div>