<!DOCTYPE html>
<html lang="pt_br">
    {% block head %}
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <link rel="stylesheet" href="/styles/adm.css">

            <title>FOODFY</title>
        </head>
    {% endblock head %}

<body>
        
<div class="adminHeader">
{% block header %}
    <header>
        <a class="logo" href="/"><img src="/assets/logo-white.png" alt="FOODFY"></a>
    </header>  
{% endblock header %}
</div>


<div class="contentAdm">

{% block content %}
{% endblock content %}      
    
    
{% block modal %}
{% endblock modal %}

</div>
        
{% block scripts %}
    <script src="/scripts.js"></script>
{% endblock scripts %}

{% block footer %}
{% endblock %}
            
</body>

</html>