{% extends "admin/layout.njk" %}


{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/styles/mainAdm.css">

        <title>FOODFY</title>
    </head>
{% endblock head %}

        
<div class="contentAdm">
    {% block header %}
        <header>
            <a class="logo" href="/"><img src="/assets/logo-white.png" alt="FOODFY"></a>
        </header>
    {% endblock header %}

    {% block content %}

    <h1>Gerenciar receitas</h1>   

        <section class="cards">
        {% for recipe in recipes %}
            <div class="card" id="{{loop.index0}}">
                <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
                <h4 class="title">{{recipe.title}}</h4>
                <p class="author">{{recipe.author}}</p>
                <a href="/recipe/:index">Visualizar</a>
            </div>
        {% endfor %}

    </section>

    {% endblock content %}

</div>


{% block footer %}
    <footer>
        <p>Todos os direitos reservados, receitas FOODFY.</p>
    </footer>
{% endblock %}