{% extends "admin/layout.njk" %}

{% block head %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/recipe.css">

        <title>FOODFY</title>
    </head>
{% endblock head %}

{% block content %}

<section class="recipes">
    <div class="recipe_card">
        <img src="{{./recipe.image}}" alt="Imagem de {{item.title}}">
        <h4 class="title">{{recipe.title}}</h4>
        <p class="author">{{recipe.author}}</p>
    </div>
</section>

<section class="most_information">

    <!-- INGREDIENTS -->
    <div class="recipe_ingredients content_list">
        <div class="card_title">
            <h1>Ingredientes</h1>
            <p class="show">MOSTRAR</p>
        </div>

        <div class="card_content">
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ingredient}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- PREPARATION -->
    <div class="recipe_preparation content_list">
        <div class="card_title">
            <h1>Modo de preparo</h1>
            <p class="show">MOSTRAR</p>
        </div>

        <div class="card_content">
            <ul>
                {% for preparation in recipe.preparation %}
                    <li>{{preparation}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- INFORMATION -->
    <div class="recipe_information content_list">
        <div class="card_title">
            <h1>Informações adicionais</h1>
            <p class="show">MOSTRAR</p>
        </div>

        <div class="card_content">
            <p>{{recipe.information}}</p>
        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}
    <script src="/scripts.js"></script>
{% endblock scripts %}


{% block footer %}
    <footer>
        <p>Todos os direitos reservados, receitas FOODFY.</p>
    </footer>
{% endblock %}